<h1>Корзина</h1>

<div class="cart">
  {{#if cart.courses.length}}
    <table>
      <thead>
        <th>Название</th>
        <th>Количество</th>
        <th>Действие</th>
      </thead>
      <tbody>
        {{#each cart.courses}}
          <tr>
            <td>{{title}}</td>
            <td>{{count}}</td>
            <td><button class="btn js-remove" data-id="{{id}}">Удалить</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <p>Общая стоимость:&emsp;<span class="price">{{cart.price}}</span></p>
  {{else}}
    <p>Корзина пуста</p>
  {{/if}}
</div>